.keyLabel{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.kcv{
    margin-top: 10px;
    display:flex;
}
.kcvLabel{
    margin-right:8px;
    padding-top:7px;
}
.groupIdLabel{
    padding-top:7px;
    width: 140px;
}
.alert.alert-info{
    margin-left: -14px;
    padding-left: 25px;
}
.btn.btn-primary{
    margin-top: 12px;
}
.buttonSave{
    display: flex;
}
.read-only{
    background-color: lightgrey;
}
.error{
    border: 1px solid;
    border-color: #f5c2c7;
    margin-bottom: 8px;
    font-size: 17px;
    font-weight: normal;
    width: 40%;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #f8d7da;
    border-radius: 0.375rem;
    color: #842029;
}
h2{

    color: #273444;
    padding-bottom: 12px;
}

h3{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
}
