.navbar  {
    background-color: #A8E4EF;
}
.navbar .container-fluid {
    padding: 0 70px;
}

.btn-circle.btn-sm {
    width: 15px;
    height: 15px;
    padding: 6px 0px;
    margin-top: 12px;
    border-radius: 15px;
    background-color: #79DE79;
}