<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/css/card.css}"/>
  <script th:src="@{/js/action.js}" type="text/javascript"></script>
  <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
  <title>Card</title>
</head>

<body>


<h1 th:utext="${card.getCardNumber()}></h1>
</body>

</html>