<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- StyleSheet -->

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- IPS Gateway StyleSheet -->
    <link th:href="@{../css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Communication</title>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header}">

</div>
<!-- End Header -->

<!-- Body -->
<div class="container pt-4">
    <h4>Communication Handler</h4>
    <div class="text-center">
        <div class="row align-items-start">
            <div class="col">
                <a th:href="@{/configuration/edit}"><button class="btn btn-primary">Configuration Edit</button></a>
            </div>
            <div class="col">
                <button type="button" class="btn" th:classappend="${configuration.status} ? 'btn-success' : 'btn-danger'" th:text="${configuration.status} ? 'Connected' : 'Disconnected'"></button>
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
    </div>
    <div>
        <tr>
            <p th:text="'Host IP: ' + ${configuration.hostIp}" />
            <p th:text="'Port: ' + ${configuration.hostPort}" />
        </tr>
        <tr>
            <p th:text="'VTS IP: ' + ${configuration.vtsIp}" />
            <p th:text="'Port: ' + ${configuration.vtsPort}" />
        </tr>
    </div>
</div>
<!-- End Body -->

</body>
</html>