<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Communication</title>
</head>
<body>
<!-- Header -->
<!-- End Header -->

<!-- Body -->
<div class="container pt-3">
    <h4>Communication Handler</h4>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <a th:href="@{/communication/edit}"><button class="btn btn-primary">Protocol Configuration</button></a>
            </div>
            <div class="col">
                <button type="button" class="btn" th:classappend="${connection.status} ? 'btn-success' : 'btn-danger'" th:text="${connection.status} ? 'Connected' : 'Disconnected'"></button>
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>
    </div>
    <div>
        <tr>
            <p th:text="'Host IP: ' + ${connection.hostIp}" />
            <p th:text="'Port: ' + ${connection.hostPort}" />
        </tr>
        <tr>
            <p th:text="'VTS IP: ' + ${connection.vtsIp}" />
            <p th:text="'Port: ' + ${connection.vtsPort}" />
        </tr>
    </div>
</div>
<!-- End Body -->

</body>
</html>