<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>Communication</title>
</head>
<body>
<!-- Header -->
<!-- End Header -->

<!-- Body -->
<div class="container pt-3">
    <h4>Communication Configuration</h4>
    <form th:action="@{/communication}" th:object="${protocol}" method="post">

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputVtsIp4">VTS IP Address</label>
                <input type="text" th:field="*{vtsIp}" class="form-control" id="inputVtsIp4" placeholder="127.0.0.1">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPort4">Port</label>
                <input type="text" th:field="*{vtsPort}" class="form-control" id="inputVtsPort4" placeholder="1234">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputVtsIp4">Host IP Address</label>
                <input type="text" th:field="*{hostIp}" class="form-control" id="inputHostIp4" placeholder="127.0.0.1">
            </div>
            <div class="form-group col-md-2">
                <label for="inputPort4">Port</label>
                <input type="text" th:field="*{hostPort}" class="form-control" id="inputHostPort4" placeholder="1234">
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Role</legend>
                <div class="col-sm-10">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{role}" name="inlineRadioOptions" id="inlineRadio1" th:value="false">
                        <label class="form-check-label" for="inlineRadio1">Client</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{role}" name="inlineRadioOptions" id="inlineRadio2" th:value="true">
                        <label class="form-check-label" for="inlineRadio2">Server</label>
                    </div>
                </div>
            </div>
        </fieldset>

        <tr>
            <td colspan="2"><input type="submit" value="Connect" class="btn btn-primary" /></td>
        </tr>

        <tr>
            <p th:text="'Host IP: ' + ${protocol.hostIp}" />
            <p th:text="'Port: ' + ${protocol.hostPort}" />
        </tr>
        <tr>
            <p th:text="'VTS IP: ' + ${protocol.vtsIp}" />
            <p th:text="'Port: ' + ${protocol.vtsPort}" />
        </tr>
    </form>
</div>
<!-- End Body -->

</body>
</html>