<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/action.js}" type="text/javascript"></script>
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>
<h4>Welcome to Thymeleaf Spring Boot web application</h4>
<button th:onclick="showAlert()" type="button">Show Alert</button>
</body>
</html>