<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://localhost:35729/livereload.js"></script>
    <!-- StyleSheet -->

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- IPS Gateway StyleSheet -->
    <link th:href="@{../css/Style.css}" rel="stylesheet" />

    <script type="text/javascript" th:src="@{/js/configurationEdit.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>System Configuration Edit</title>
</head>
<body <!--onload="javascript:roleCheck()"-->>
<!-- Header -->
<div th:replace="~{fragments/header}">

</div>
<!-- End Header -->

<!-- Body -->
<div class="container pt-3">
    <h2>System Information Edit</h2>
    <div class="alert alert-info">
    <form class="row" th:action="@{/system/create}" th:object="${keyManagement}" th:method="post">
        <h3>ZPK</h3>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-row" id="keyInput1">
                <div class="form-group col-sm-11 col-md-11 col-lg-11">
                    <label class="keyLabel" for="inputKeyComponent1">Key Component 1</label>
                    <input type="text" th:field="*{zpk.component1.data}" class="form-control" id="inputKeyComponent1" placeholder="123456789ABCDEF">
                </div>
                <div class="form-group col-sm-8 col-md-7 col-lg-4 kcv">
                        <label class="kcvLabel" for="inputKcv1">KCV</label>
                        <input type="text" th:field="*{zpk.component1.kcv}" class="form-control" id="inputKcv1" placeholder="123456" style="display:inline;">
                </div>
            </div>

            <div class="form-row" id="keyInput2">
                <div class="form-group col-sm-11 col-md-11 col-lg-11">
                    <label class="keyLabel" for="inputKeyComponent2">Key Component 2</label>
                    <input type="text" th:field="*{zpk.component2.data}" class="form-control" id="inputKeyComponent2" placeholder="123456789ABCDEF">
                </div>
                <div class="form-group col-sm-8 col-md-7 col-lg-4 kcv">
                    <label class="kcvLabel" for="inputKcv2" >KCV</label>
                    <input type="text" th:field="*{zpk.component2.kcv}" class="form-control" id="inputKcv2" placeholder="123456">
                </div>
            </div>

            <div class="form-row" id="keyInput3">
                <div class="form-group col-sm-11 col-md-11 col-lg-11">
                    <label class="keyLabel" for="inputKeyComponent3">Key Component 3</label>
                    <input type="text" th:field="*{zpk.component3.data}" class="form-control" id="inputKeyComponent3" placeholder="123456789ABCDEF">
                </div>
                <div class="form-group col-sm-8 col-md-7 col-lg-4 kcv">
                    <label class="kcvLabel" for="inputKcv3" >KCV</label>
                    <input type="text" th:field="*{zpk.component3.kcv}" class="form-control" id="inputKcv3" placeholder="123456">
                </div>
            </div>

        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-row" id="keyInputCombined">
                <div class="form-group col-sm-11 col-md-11 col-lg-11">
                    <label class="keyLabel" for="inputKeyCombined">Combined Key</label>
                    <input type="text" th:field="*{zpk.combined}" class="form-control" id="inputKeyCombined" placeholder="123456789ABCDEF">
                </div>
                <div class="form-group col-sm-8 col-md-7 col-lg-4 kcv">
                    <label class="kcvLabel" for="inputKcvCombined" >KCV</label>
                    <input type="text" th:field="*{zpk.kcv}" class="form-control" id="inputKcvCombined" placeholder="123456">
                </div>

                <div class="form-group col-sm-8 col-md-7 col-lg-4 kcv">
                    <label class="groupIdLabel" for="inputGroupId" >Group ID</label>
                    <input type="text" th:field="*{id}" class="form-control" id="groupId" placeholder="123456">
                </div>

            </div>
            <tr>
                <button type="submit" id="buttonSave" class="btn btn-primary" th:onclick="validateForm()">Save Key</button>
            </tr>
        </div>
    </form>
        <tr>
            <button type="submit" id="buttonCombined" class="btn btn-primary" th:onclick="validateForm()">Combine Keys</button>
        </tr>
    </div>

</div>
<!-- End Body -->

</body>
</html>