<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- StyleSheet -->

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <!-- IPS Gateway StyleSheet -->
    <link th:href="@{../css/Style.css}" rel="stylesheet" />

    <!--<script type="text/javascript" th:src="@{/js/edit.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <title>System Configuration</title>
</head>
<body>
<!-- Header -->
<div th:replace="~{fragments/header}">

</div>
<!-- End Header -->

<!-- Body -->
<div class="container pt-3">
    <h4>System Configuration</h4>
    <form th:action="@{/system}" th:object="${logger}" th:method="put">
        <div class="form-row">
            <label for="loggerLevel">Logger Level</label>
            <select class="form-select col-md-2" th:field="*{level}" aria-label="Default select example">
                <option th:value="info" selected>INFO</option>
                <option th:value="debug">DEBUG</option>
                <option th:value="warn">WARN</option>
                <option th:value="trace">TRACE</option>
                <option th:value="error">ERROR</option>
                <option th:value="off">OFF</option>
                <option th:value="all">ALL</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Edit Logger</button>
    </form>
    <form th:action="@{/system/message}" th:method="post">
        <button type="submit" class="btn btn-primary">Test Message</button>
    </form>
</div>

<!-- End Body -->

</body>
</html>